# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv311/

# Database
*.sqlite3

# IDE
.vscode/

# Static / build
staticfiles/

# Logs / temp
*.bak

# Notebooks (optional)
notebooks/

# OS
.DS_Store
Thumbs.db